{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="profile-pic">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>

  <div class="content-section">
    <form method="POST"> {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Comments</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-info">Add Comment</button>
      </div>
    </form>

    {% for comment in comments %}
      <div class="media content-section">
        <img class="comment-img" src="{{ comment.user.profile.image.url }}" alt="profile-pic">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' comment.user.username %}">{{ comment.user }}</a>
            <small class="text-muted">{{ comment.date_commented|date:"F d, Y" }}</small>
          </div>
          
          <p class="article-content">{{ comment.content }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
